# 有些特例需要添加的可以用：git add -f Dbgview.exe
# Compiled Object files
*.obj

# other
*.exp
*.pdb
*.ilk
*.idb
*.manifest
*.asm

# directory

# Precompiled Headers
*.gch
*.pch
# Compiled Dynamic libraries
*.so
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
