#define IDD_DLG1 1000
#define IDC_EDT1 1001

#include "resource.h"
///////////////////////////////////////////
//
// Icon
//
IDI_MAIN_ICON ICON DISCARDABLE "bin/skin/icon.ico"
///////////////////////////////////////////
//
// Menu
//
IDR_M10_MENU MENU
BEGIN
  POPUP "&FILE"
  BEGIN
    MENUITEM "&New\tCtr+N",IDM_FILE_NEW
    MENUITEM "&Open...\tCtr+O",IDM_FILE_OPEN
  END
  
  POPUP "&EDIT"
  BEGIN
    MENUITEM "Cu&t\tCtr+X",IDM_EDIT_CUT
    MENUITEM "&Copy\tCtr+C",IDM_EDIT_COPY
  END
END
///////////////////////////////////////////
//
// Accelerator
//
IDR_M10_ACCELERATORS ACCELERATORS
BEGIN
  78,IDM_FILE_NEW,VIRTKEY,CONTROL,NOINVERT
  79,IDM_FILE_OPEN,VIRTKEY,CONTROL,NOINVERT
  88,IDM_EDIT_CUT,VIRTKEY,CONTROL,NOINVERT
  67,IDM_EDIT_COPY,VIRTKEY,CONTROL,NOINVERT
END
///////////////////////////////////////////
//
// Dialog
//


