#include "resource.h"

///////////////////////////////////////////
// 
// ICON
// 
IDI_FOLDER			ICON		"res\\parent.ico"
IDI_FILE			ICON		"res\\file.ico"
IDI_PARENTFOLDER	ICON		"res\\parent.ico"
//////////////////////////////////////////
//
// Dialog 
// 
IDD_EXPLORER_DLG DIALOGEX 10,10,483,291
CAPTION "Explorer"
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_VISIBLE | WS_CAPTION|WS_SYSMENU|WS_THICKFRAME|WS_MINIMIZEBOX|DS_SHELLFONT|DS_3DLOOK
BEGIN
  CONTROL "",IDC_TREE_FOLDER,"SysTreeView32",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_TABSTOP|TVS_FULLROWSELECT|TVS_SHOWSELALWAYS|TVS_HASLINES|TVS_HASBUTTONS,15,30,180,120,WS_EX_ACCEPTFILES
  CONTROL "",IDC_LIST_ALL,"SysListView32",WS_VISIBLE|WS_BORDER|WS_TABSTOP|LVS_OWNERDATA|LVS_SHOWSELALWAYS|LVS_REPORT,210,30,180,120,WS_EX_MDICHILD|WS_EX_TRANSPARENT|WS_EX_ACCEPTFILES|WS_EX_TOPMOST
  CONTROL "",IDC_LIST_FILES,"SysListView32",WS_VISIBLE|WS_BORDER|WS_TABSTOP|LVS_OWNERDATA|LVS_SHOWSELALWAYS|LVS_REPORT,15,168,372,111,WS_EX_TOOLWINDOW
  CONTROL "",IDC_CBO_FILTER,"ComboBox",WS_VISIBLE|WS_VSCROLL|WS_TABSTOP|CBS_AUTOHSCROLL|CBS_DROPDOWN,288,12,99,48
  CONTROL "Filter",IDC_STC_FILTER,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE|SS_RIGHT,252,12,24,12
  CONTROL "添加",IDC_BTN_ADD,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,411,36,57,18
  CONTROL "添加所有",IDC_BTN_ADDALL,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,411,72,57,18
  CONTROL "删除文件",IDC_BTN_DEL,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,411,228,57,18
  CONTROL "删除所有",IDC_BTN_DELALL,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,411,255,57,18
  CONTROL "Cryto",IDC_BTN_CRYPTO,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,411,177,57,18
  CONTROL "",IDC_BUTTON_SPLITTER,"Button",BS_OWNERDRAW,15,153,372,12
END

